/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_fr.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB  |  Q   |  W   |  E   |  R   |  T   |   Y   |  U    |  I   |  O   |   P   | BSPC  |
            // |  ESC  |  A   |  S   |  D   |  F   |  G   |   H   |  J    |  K   |  L   |   ;   |  '    |
            // | SHIFT |  Z   |  X   |  C   |  V   |  B   |   N   |  M    |  ,   |  .   |   /   |  RET  |
            // |       | LCTL | LALT | LGUI | LOWR |     SPACE    |  RAIS | LARW | DARW | UARW  |  RARW |
            bindings = <
                &kp TAB    &kp FR_A         &kp FR_E        &kp FR_R       &kp FR_T             &kp FR_Y   &kp FR_U    &kp FR_U        &kp FR_I        &kp FR_O      &kp FR_EXLM   &kp BSPC
                &kp TAB    &kp FR_Q         &kp FR_S        &kp FR_D       &kp FR_F             &kp FR_G   &kp FR_H    &kp FR_J        &kp FR_K        &kp FR_L      &kp M         &kp SQT
                &kp LSHFT  &kp FR_W         &kp FR_X        &kp FR_C       &kp FR_V             &kp FR_B   &kp FR_N    &kp FR_COMM     &kp FR_SCLN     &kp FR_COLN   &kp FR_EXLM   &kp RET
                &kp ESC    &kp LCTL         &kp LALT        &kp LGUI       &mo 1                &trans     &kp SPACE   &mo 2           &kp LEFT        &kp DOWN      &kp UP        &kp RIGHT
            >;

   // &kp FR_A         &kp FR_Z        &kp FR_E       &kp FR_R             &kp FR_T   &kp FR_Y    &kp FR_U        &kp FR_I        &kp FR_O      &kp FR_P
   // &hm LGUI FR_Q    &hm LALT FR_S   &hm LCTRL FR_D &hm LSHIFT FR_F      &kp FR_G   &kp H       &hm LSHIFT FR_J &hm LCTRL FR_K  &hm LALT FR_L &hm LGUI FR_M
   // &kp FR_W         &kp FR_X        &kp FR_C       &kp FR_V             &kp FR_B   &kp FR_N    &kp FR_COMM     &kp FR_SCLN     &kp FR_COLN   &kp FR_EXLM
   //                  &lt _MEDIA ESC  &lt _NAVI SPC  &lt _NUMBER TAB      &lt _ACCENT RET  &lt _SYMBOL BSPC  &lt _ADJUST DEL

        };

        lower {
            bindings = <
                &kp LS(GRAVE) &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5) &kp LS(N6) &kp LS(N7) &kp LS(N8) &kp LS(N9) &kp LS(N0) &kp DEL
                &kp DEL &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp UNDER &kp PLUS &kp LBRC &kp RBRC &kp PIPE
                &trans &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12 &kp LS(HASH) &kp LS(BSLH) &kp HOME &kp END &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &kp C_NEXT &kp C_VOL_DN &kp C_VOL_UP &kp C_PP
            >;
        };

        raise {
            bindings = <
                &kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp BSPC
                &kp DEL &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH
                &trans &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12 &kp HASH &kp BSLH &kp PG_UP &kp PG_DN &trans
                &sys_reset &bootloader &trans &trans &trans &trans &trans &trans &kp C_NEXT &kp C_VOL_DN &kp C_VOL_UP &kp C_PP
            >;
        };
    };
};
